.icon-color {
  color: rgb(255, 0, 128);
}

.card-images {
  width: 200px;
  height: 200px;
  margin: 10px auto;

  border-radius: 50%;
}

.rating-setting {
  margin-left: 50px;
}

.drop-review {
  background-color: rgb(255, 0, 128);
  color: white;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
}

.drop-review :hover {

  background-color: white !important;
  color: rgb(255, 0, 128);
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
}